@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Leitor.Erp.Localization
@inject IHtmlLocalizer<ErpResource> L
@model Leitor.Erp.Pages.Catalog.TaxRates.EditModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">@L["EditTaxRate"]</h5>
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <abp-input asp-for="TaxRate.Name" />
            <abp-input asp-for="TaxRate.Percent" />
            <abp-input asp-for="TaxRate.TaxType" />
            <abp-input asp-for="TaxRate.IsDefault" />

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">@L["Save"]</button>
                <a asp-page="./Index" class="btn btn-secondary">@L["Cancel"]</a>
            </div>
        </form>
    </div>
</div>
